
body {
  font-family: sofia-pro, sans-serif;
  background-color: #f7f1eb;
}

h1 {
    font-size: 36pt;   
    width: 100%; 
    text-align: center;
    color: #045f71;
}
.happy {
    font-weight: 700;
    font-style: italic;
    font-size: 20pt;  
    letter-spacing: 3px;
    width: 100%; 
    text-align: center;
    color: #e07b4b;
}

h3{
    font-size: 16pt;
    font-weight: 700;
    font-style: normal;
    width: 100%;
    text-align: center;
    color: #e2a296;
}

.hotbev{
    font-weight: 700;
    font-style: normal;
    font-size:12pt;
    letter-spacing: 3px;
    width: 100%;
    text-align: center;
    color: #aa7b5b;
}

.bev{
    font-weight: 700;
    text-align: center;
    padding: 20x;
    margin-top: 30pt;
}

.tea{
    color:#e2a296;
    font-size: 10pt;
    text-align: center;
}

.teaend{
     color:#e2a296;
     font-size: 10pt;
     text-align: center;
     margin-bottom: 30pt;
}

.iced{ 
    font-weight: 700;
    font-style: normal;
    font-size:12pt;
    letter-spacing: 3px;
    width: 100%;
    text-align: center;
    color: #aa7b5b;
}

ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
}

p{
   font-family: sofia-pro, sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 12pt;
    color: #513928;
    text-align: center; 
}

li{
    font-family: sofia-pro, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 12pt;
    color: #513928;
    text-align: center;
}

.additions{
    font-weight: 700;
    font-style: normal;
    font-size:12pt;
    letter-spacing: 3px;
    width: 100%;
    text-align: center;
    color: #aa7b5b;
}

.other{ 
    font-weight: 700;
    font-style: normal;
    font-size:12pt;
    letter-spacing: 3px;
    width: 100%;
    text-align: center;
    color: #aa7b5b;
}

h4{
    font-size: 16pt;
    font-weight: 700;
    font-style: normal;
    width: 100%;
    text-align: center;
    color: #e2a296;
}

.paninis{
    font-weight: 700;
    font-style: normal;
    font-size:12pt;
    letter-spacing: 3px;
    width: 100%;
    text-align: center;
    color: #aa7b5b;  
}

.pastries{
    font-weight: 700;
    font-style: normal;
    font-size:12pt;
    letter-spacing: 3px;
    width: 100%;
    text-align: center;
    color: #aa7b5b;  
}

.other{
    font-weight: 700;
    font-style: normal;
    font-size:12pt;
    letter-spacing: 3px;
    width: 100%;
    text-align: center;
    color: #aa7b5b;  
}

.otherbev{
    text-align: center;
    padding: 20x;
    margin-bottom: 30pt;
}

.otherfoods{
    text-align: center;
    padding: 20x;
}

h5{
    font-size: 16pt;
    font-weight: 700;
    font-style: normal;
    width: 100%;
    text-align: center;
    color: #e2a296;
}

img {
    max-width: 100%;
    display: block;
    margin: 0 auto 0 auto;
}

iframe {
    max-width: 100%;
    display: block;
    margin: 0 auto 0 auto;
}


.address{
    font-weight: 700;
    font-style: normal;
    font-size:12pt;
    letter-spacing: 3px;
    width: 100%;
    text-align: center;
    color: #aa7b5b;  
}
