/* Styles for Project 5 */

body{background-color:white;}
h1{text-align: center;
    font-family: Goudy Old Style,Garamond,Big Caslon,Times New Roman,serif;
    font-weight: 400;
    letter-spacing:3px;
    }
h2{text-align:center;
   font-family: Goudy Old Style,Garamond,Big Caslon,Times New Roman,serif;
    font-weight: 200;
    font-style: oblique;

}

img {
    max-width: 95%;
    border-radius: 8px;
    display: block;
    margin: 0 auto 0 auto;
}

p{
    font-family: Goudy Old Style,Garamond,Big Caslon,Times New Roman,serif;
    color:black;
    margin: 25px;
    }

li{
    font-family: Goudy Old Style,Garamond,Big Caslon,Times New Roman,serif;
    color:darkred;
    line-height: 1.5;}

a{color:black}

